<div class="container text-center">
<h1>About Page</h1>
<p>We are DevMatch. Our company focuses on creating an exclusive community for
developers and entrepreneurs to meet.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, ipsam, 
similique, ex, nesciunt quas aut accusamus culpa fugit perferendis placeat in 
quae fugiat cupiditate iusto eius officiis voluptatem natus laboriosam!</p>
</div>